<div class="notebox">
    <em class="notebox">Git Mirrors</em>
    <p>Mirrors:</p>
    <ul>
    <TMPL_IF NAME="github">
        <a href="https://github.com/<TMPL_VAR github>"><li>github</li></a>
    </TMPL_IF>
    <TMPL_IF NAME="bitbucket">
        <a href="https://bitbucket.org/<TMPL_VAR bitbucket>"><li>bitbucket</li></a>
    </TMPL_IF>
    </ul>
    <p>Master:</p>
    <ul>
    <TMPL_IF NAME="hdonnay">
        <a href="http://git.hdonnay.net/?p=<TMPL_VAR hdonnay>.git"><li>git.hdonnay.net</li></a>
    </TMPL_IF>
    </ul>
</div>
